{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'math/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <a href="{% url 'reset_math' %}" class="btn btn-secondary">Reset</a>
            </div>
            <div class="col-7 h2">
                <b class="text-uppercase"> Les historiques de votre reponses </b>
                {% for question in questions %}
                    {% if question.user_responce is not None %}
                        {% if question.istrue %}
                            <div class="text-success">
                                {{question}} 
                                <i class="bi bi-check-circle bi-xl"></i> 
                            </div> 
                        {% elif question.istrue == False %}
                            <div class="text-danger">
                                {{question.num1}}{{question.signe}}{{question.num2}} = {{question.user_responce}}
                                <i class="bi bi-x-circle bi-xl"></i>
                            </div>  <!-- Icône de fermeture plus grande -->
                        {% elif question.user_responce == 'passer' %}
                            <div class="text-warning">
                                {{question.num1}}{{question.signe}}{{question.num2}} = Passer
                                <i class="bi bi-exclamation-triangle"></i>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="text-warning">
                            {{question.num1}}{{question.signe}}{{question.num2}} = R.A.S
                            <i class="bi bi-exclamation-triangle"></i>
                        </div>
                    {% endif %}
                    
                {% endfor %}

            </div>
            <div class="col-4 border h-100 text-center box-huro">
                nombre question :<em>{{count}}</em> <br>
                nombre question repondu :<em>{{quetion_repondu}}</em> <br>
                nombre question pas repondu :<em>{{quetion_pasrepondu}}</em> <br>
                nombre question fausse : <em>{{numFalse}}</em>  <br>
                nombre question vrai : <em> {{numTrue}}</em>
                <div class="progress custom-progress">
                    <div class="progress-bar bg-success" style="width: {{pourcentage.vrai}}%;">{{numTrue}}</div>
                    <div class="progress-bar bg-warning" style="width: {{pourcentage.ras}}%;">{{quetion_pasrepondu}}</div>
                    <div class="progress-bar bg-danger" style="width: {{pourcentage.faux}}%;">{{numFalse}}</div>
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="{% static 'math/js/script.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>




